<!DOCTYPE html>
<html lang="pt-BR">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">

</head>
 
<body>
		<!-- navbar -->
	<nav class="navbar navbar-expand-xl">
		<div class="container-fluid ">
			<a class="navbar-brand" href="/">
				<h1 class="m-0 texto-logo">
					<img class="logo" src="img/logo.png" alt="logotipo">
					Sabedoria+
				</h1>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item me-4">
						<a class="nav-link botao-nav2 cor-vermelho" aria-current="page" href="/">Início</a>
					</li>
					<li class="nav-item me-4">
						<a class="nav-link botao-nav2 " href="/sobreNos">Sobre Nós</a>
					</li>
					<li class="nav-item me-4">
						<a class="nav-link botao-nav2" href="/planos">Planos</a>
					</li>
					<li class="nav-item me-4">
						<a class="nav-link botao-nav" href="/mentores">Mentores</a>
					</li>
					<li class="nav-item me-4">
						<!-- Use Thymeleaf para verificar se o usuário está autenticado -->
						<th:block th:if="${#authorization.expression('isAuthenticated()')}">
							<!-- Se autenticado, exibe o botão de logout -->
							<a class="nav-link botao-nav" href="/perfil" th:text="${#authentication.principal.nome}"></a>
						</th:block>
						<th:block th:unless="${#authorization.expression('isAuthenticated')}">
							<!-- Se não autenticado, exibe o botão de login -->
							<a class="nav-link botao-nav" href="/login">Login</a>
						</th:block>
					</li>
				</ul>

			</div>
		</div>
	</nav>
	<!-- fim navbar -->
    
    <div class="container">
        <form action="#">
            <h1>Sejam bem-vindos!</h1>
            <div class="logo-container">
                <img src="img/apple-touch-icon.png" alt="Logo">
            </div>
 
            <div class="input-box">
                <input type="text" placeholder="CPF/ Email" required>
                <i class='bx bxs-user'></i>
            </div>
 
            <div class="input-box">
                <input type="password" placeholder="Senha" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
 
            <div class="btn-checkbox">
                <label><input type="checkbox"> Lembre-me</label>
                <a href="#"> Esqueceu a senha?</a>
            </div>
            <button type="submit" class="btn-login">Entrar</button>
 
            <div class="register-link">
                <p>Você não tem conta? <a href="#"> Cadastra-se</a></p>
            </div>
            <div class="footer-message">
                <p class="card-text py-3" id="rodape-color">2023 <i class="bi bi-c-circle"></i> Desenvolvido pelo Squad 20 | Projeto fictício
                    para Recode Pro 2023.</p>
            </div>
        </form>
    </div>

</body>
 
</html>