:root {
	--vermelho: #FF0751;
}

.logo-nav {
	width: 66px;
}

.botao-nav {
	border: 1px solid;
	border-radius: 25px;
	width: 150px;
	text-align: center;
	border-color: var(--vermelho);
	margin-top: 5px;
}

.botao-nav2 {
	width: 150px;
	text-align: center;
	margin-top: 5px;
}

.texto-logo {
	color: var(--vermelho);
	font-size: 22px;
}

